.formSearchRace {
    padding: 23px 15px 15px 15px;

    .title {
        font-weight: bold;
        color: #333;
        font-size: 18px;
        margin-bottom: 1rem;
    }
}

.formSearchGraphic {
    padding: 23px 15px 15px 15px;

    .title {
        font-weight: bold;
        color: #333;
        font-size: 18px;
        margin-bottom: 1rem;
    }
}
